@font-face {
  font-family: "STARWARS";
  src: url("../assets/fonts/star-wars/STARWARS.eot") format("eot"), url("../assets/fonts/star-wars/STARWARS.woff") format("woff"),
    url("../assets/fonts/star-wars/STARWARS.ttf") format("truetype"),
    url("../assets/fonts/star-wars/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal;
}
