@import "../../styles/variables";

.custom-tooltip {
  background: rgba($color: lighten($primary-blue-color, 10%), $alpha: 0.2);
  border: 1px solid $primary-blue-color;
  color: #fff;
  padding: 15px;
  box-shadow: 0 0 30px 8px rgba($color: $primary-blue-color, $alpha: 0.1);
  border-radius: 3px;
  :global {
    .label {
      margin: 0;
      text-align: left;
      span {
        display: inline-block;
        width: 75px;
        position: relative;
        &:after {
          content: ':';
          position: absolute;
          right: 15px;
          top: 0;
        }
      }
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }
}