.app-header {
  padding: 30px 0;
  text-align: center;
  :global {
    .app-logo {
      margin: 0 auto;
      padding: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 45px;
      display: inline-block;
      position: relative;
      font-family: "STARWARS", sans-serif;
      img {
        width: 75px;
        height: 75px;
      }
      p {
        margin: 0;
        span {
          display: block;
        }
      }
    }
  }
}